<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="rootPath" value="/opt/logs/spring/blomni-config-server" />
	<property name="baseFile" value="config-server"></property>
   <!--  <property name="log.path" value="/opt/logs/spring/blomni-config-server/config-server.log" /> -->
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
       <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${rootPath}/${baseFile}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${rootPath}/${baseFile}_%d{yyyy-MM-dd}.log.gz</FileNamePattern>
			<maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root> -->

	<!-- <root level="INFO">             
    	<appender-ref ref="console" />  
    	<appender-ref ref="file" /> 
    </root>  -->
  
    <!-- logback为java中的包 -->
    <logger name="com.blomni.o2o"/>
    <!--logback.LogbackDemo：类的全路径 -->
    
    <logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
        <appender-ref ref="file" />
	</logger>
	
	<logger name="org.mybatis.spring" level="ERROR" />
	
	<logger name="com.ibatis" level="INFO" additivity="false"/>    
	<root level="INFO">
		<appender-ref ref="console" />
        <appender-ref ref="file" />
	</root>
    
    <logger name="org.apache.commons">
		<level value="INFO" />
	</logger>
</configuration>